<div id="<%= dom_id point %>">
  <p>
    <strong>Lat:</strong>
    <%= point.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= point.lng %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= point.prefecture %>
  </p>

</div>
